body {
  background: linear-gradient(to right, black, purple);
  color:beige;
  font-family: monospace;
}

.jumbotron {
  background: linear-gradient(to right, black, rgb(37, 37, 37));
  font-family:monospace;
}

form {
  font-size: 20px;
  font-family: monospace;
}

.output {
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}